.topbar{
    background: url(../images/header-bg2.png) !important;
}
.topbar-main{
    background: none;
}
.topbar .topbar-left {
    background:none;
}
.navbar-custom-menu {
    background-color: #ffffff;
}
.footer{
    background: #000;
}
.img-group .team-avatar {
    -webkit-box-shadow: 0 0 0 2px #b6c2e4;
    box-shadow: 0 0 0 2px #b6c2e4;
    background: #eaf0f7;
}
.thumb-xs{
    height: 20px !important;
    width: 20px !important;
}
.thumb-md {
    height: 40px;
    width: 40px;
    font-size: 14px;
    font-weight: 700;
}
.thumb-lg{
    height: 70px;
    width: 70px;
}
.thumb-md-user{
    height: 65px;
    width: 65px;
}
.bg-light{
    background: #eaf0f7;
}
.bg-grey-2 {
    background: #d8e4ef;
}
.team-avatar{
    -webkit-box-shadow: 0 0 0 2px #b6c2e4;
    box-shadow: 0 0 0 2px #b6c2e4;
    background: #eaf0f7;
}
.thumb-placeholder{
    width: 280px;
}

.ml--3{
    margin-left: -10px;
}
.text-main{
    color:  #12ba2f;
}
.circle-main{
    border: 1px solid #84077b;
    height: 20px;
    color: #84077b;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
}
.form-group{
    position:relative; 
}
.bg-grey-1{
    background: #f7f7f7;
}
.icon-down{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    text-align: center;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    z-index: 2;
    color: #BEBEBE
}
.form-control{
    border-radius: 0px !important;
}
.topbar .navigation-menu .last-elements>li>a {
    color: #ffffff !important;
}


.btn-main{
    background-color: #12ba2f;
    border: 1px solid #12ba2f;
    /* -webkit-box-shadow: 0 2px 6px 0 rgba(132, 6, 123, 0.25);
    box-shadow: 0 2px 6px 0 rgba(132, 6, 123, 0.25); */
    color: #ffffff;
    width: 140px;
    /* padding: 10px; */
    border-radius: 0px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn-main:hover{
    color: #ffffff;
    /* transform: scale(1.04);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
}
.modal-content{
    background: #ffffff;
    border: none;
}
.modal-content .modal-footer, .modal-content .modal-header {
    border-color: #f1f2f5;
    background-color: #ffffff;
}
/* .table td, .table th{
    padding: .25rem !important;
} */
tfoot{
    background: #eaf0f7;
}
.modal-footer{
    background: #eaf0f7 !important;
}
.btn-plain{
    color: #b6c2e4;
}
.form-control{
    height: calc(2.3rem + 10px);
    border: none;
}
::-webkit-input-placeholder { /* Edge */
    color: #cccccc !important;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cccccc !important;
  }
  
  ::placeholder {
    color: #cccccc !important;
  }
  #form-horizontal fieldset{margin-top:90px}
  .wizard>.steps .current a, .wizard>.steps .current a:active, .wizard>.steps .current a:hover{

  }
  .wizard>.steps .disabled a, .wizard>.steps .disabled a:active, .wizard>.steps .disabled a:hover, .wizard>.steps .done a, .wizard>.steps .done a:active, .wizard>.steps .done a:hover{
    background-color: #edf2fe !important;
    color: #b1c0d1 !important;
  }
  .wizard>.steps .disabled a .number, .wizard>.steps .disabled a:active .number, .wizard>.steps .disabled a:hover .number, .wizard>.steps .done a .number, .wizard>.steps .done a:active .number, .wizard>.steps .done a:hover .number{
      border-color: #d6dee6;
  }
  .wizard>.steps .current a, .wizard>.steps .current a:active, .wizard>.steps .current a:hover{
    box-shadow: 0 0 0 2.25px #13ba2f;
    background-color: #a2e4ad;
  }
  .wizard>.steps .current a, .wizard>.steps .current a:active, .wizard>.steps .current a:hover{
    color: #10ac2b;
  }
  .vh-80 {
    height: 80vh!important;
}
.topbar-main{
    min-height: 60px;
}
.topbar .navigation-menu>li>a{
    color: #000000;
}
.navigation-menu>li a:hover{
    color: #000 !important;
}
#navigation .last-elements>li>a{
    color: #ffffff !important; 
}
.r-0{
    border-radius: 0px !important;
}
.met-profile-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #eaf0f7;
    opacity: 1;
    border-radius: 0px;
}
.actions{
    display: none;
}
.card{
    border-radius:0px;
}
.form-asign{
    background: #eaf0f7;
    radius: 0px !important;
    border: 1px solid #dde1e4;
}
select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
.border-left {
    border-left: 3px solid #13ba2f!important;
}
.page-content{
    margin: 80px auto 0;
}
/* .navigation-menu-top {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.navigation-menu-top-top>li {
    display: inline-block;
    position: relative;
}
.topbar .navigation-menu-top>li>a {
    color: #ffffff;
}
.topbar .navigation-menu-top>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
}
.navigation-menu-top>li:first-child a {
    padding-left: 0;
}
.navigation-menu-top>li a {
    display: block;
    font-size: 15px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    line-height: 18px;
    padding-left: 25px;
    padding-right: 25px;
} */



@media (min-width: 576px)
.modal-dialog {
    max-width: 600px;
}
}
